body {
    background-color: #5C5C5C;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
}
#under-construction {
  color: red;
}
.about {
    text-align: justify;
    background-color: white;
    color: #090A0A;
    margin-left: 5px;
    overflow-y: auto;
    padding: 15px;
    width: 70%;
    height: 100%;
    position: absolute;
    right: 10px;
    top: 170px;
    z-index: 1
}
.about-hobbies {
    position: absolute;
    right: 0px;
    width: 50%;
    top: 150px;

}
.about-education {
    width: 45%;
    position: absolute;
    top: 150px;

}


.left-div {
    text-align: justify;
    float: left;
    background-color: white;
    color: rgba(255, 255, 255, 0.5);
    padding: 15px;
    width: 22%;
    height: 100%;
    position: absolute;
    left: 10px;
    top: 170px;
    z-index: 1
}
h2, h3{
    color: #090A0A;
}
.main-head {
    background-color: #8E8E8E;
    color: #262626;
    border-top: 5px solid #262626;
    padding-top: 2px;
    padding-left: 40px;
    padding-right: 100px;
    width: 100%;
    height: 150px;
    box-sizing: border-box;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    z-index: 3;
}
.topnav {
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    border-top: 2px solid #262626;
    border-bottom: 4px solid #262626;
    padding-left: 20px;
    box-sizing: border-box;
    position: absolute;
    left: 0px;
    top: 145px;
    z-index: 100;
}
.topnav a {
    background-color: #262626;
    color: white;
    float: left;
    display: block;
    border: 1px solid;
    text-align: center;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}
.topnav a:hover {
    color: #262626;
    background-color: #8E8E8E;
}
a {
    color: #5C5C5C;
}
a:hover {
    background-color: #8E8E8E;
    color: #B6B7B7;
}
.to-study {
  font-family: monospace;
}
.about-contacts {
    position: absolute;
    bottom: -150px;
}
footer {
    position: absolute;
    width: 100%;
    bottom: -472px;
    border: 3px double #262626;
    background-color: #B6B7B7;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    right: 0px;
}
